---
version: 2
interactions:
  - id: 0
    request:
      host: api.github.com
      form:
        page:
          - "1"
        per_page:
          - "5"
      headers:

        Content-Type:
          - application/json; charset=utf-8
        Time-Zone:
          - America/Mexico_City
        User-Agent:
          - go-gh
      url: https://api.github.com/user/starred?page=1&per_page=5
      method: GET
    response:
      body: '[{"id":39808208,"node_id":"MDEwOlJlcG9zaXRvcnkzOTgwODIwOA==","name":"env","full_name":"caarlos0/env","private":false,"owner":{"login":"caarlos0","id":245435,"node_id":"MDQ6VXNlcjI0NTQzNQ==","avatar_url":"https://avatars.githubusercontent.com/u/245435?v=4","gravatar_id":"","url":"https://api.github.com/users/caarlos0","html_url":"https://github.com/caarlos0","followers_url":"https://api.github.com/users/caarlos0/followers","following_url":"https://api.github.com/users/caarlos0/following{/other_user}","gists_url":"https://api.github.com/users/caarlos0/gists{/gist_id}","starred_url":"https://api.github.com/users/caarlos0/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/caarlos0/subscriptions","organizations_url":"https://api.github.com/users/caarlos0/orgs","repos_url":"https://api.github.com/users/caarlos0/repos","events_url":"https://api.github.com/users/caarlos0/events{/privacy}","received_events_url":"https://api.github.com/users/caarlos0/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/caarlos0/env","description":"A simple, zero-dependencies library to parse environment variables into structs","fork":false,"url":"https://api.github.com/repos/caarlos0/env","forks_url":"https://api.github.com/repos/caarlos0/env/forks","keys_url":"https://api.github.com/repos/caarlos0/env/keys{/key_id}","collaborators_url":"https://api.github.com/repos/caarlos0/env/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/caarlos0/env/teams","hooks_url":"https://api.github.com/repos/caarlos0/env/hooks","issue_events_url":"https://api.github.com/repos/caarlos0/env/issues/events{/number}","events_url":"https://api.github.com/repos/caarlos0/env/events","assignees_url":"https://api.github.com/repos/caarlos0/env/assignees{/user}","branches_url":"https://api.github.com/repos/caarlos0/env/branches{/branch}","tags_url":"https://api.github.com/repos/caarlos0/env/tags","blobs_url":"https://api.github.com/repos/caarlos0/env/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/caarlos0/env/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/caarlos0/env/git/refs{/sha}","trees_url":"https://api.github.com/repos/caarlos0/env/git/trees{/sha}","statuses_url":"https://api.github.com/repos/caarlos0/env/statuses/{sha}","languages_url":"https://api.github.com/repos/caarlos0/env/languages","stargazers_url":"https://api.github.com/repos/caarlos0/env/stargazers","contributors_url":"https://api.github.com/repos/caarlos0/env/contributors","subscribers_url":"https://api.github.com/repos/caarlos0/env/subscribers","subscription_url":"https://api.github.com/repos/caarlos0/env/subscription","commits_url":"https://api.github.com/repos/caarlos0/env/commits{/sha}","git_commits_url":"https://api.github.com/repos/caarlos0/env/git/commits{/sha}","comments_url":"https://api.github.com/repos/caarlos0/env/comments{/number}","issue_comment_url":"https://api.github.com/repos/caarlos0/env/issues/comments{/number}","contents_url":"https://api.github.com/repos/caarlos0/env/contents/{+path}","compare_url":"https://api.github.com/repos/caarlos0/env/compare/{base}...{head}","merges_url":"https://api.github.com/repos/caarlos0/env/merges","archive_url":"https://api.github.com/repos/caarlos0/env/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/caarlos0/env/downloads","issues_url":"https://api.github.com/repos/caarlos0/env/issues{/number}","pulls_url":"https://api.github.com/repos/caarlos0/env/pulls{/number}","milestones_url":"https://api.github.com/repos/caarlos0/env/milestones{/number}","notifications_url":"https://api.github.com/repos/caarlos0/env/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/caarlos0/env/labels{/name}","releases_url":"https://api.github.com/repos/caarlos0/env/releases{/id}","deployments_url":"https://api.github.com/repos/caarlos0/env/deployments","created_at":"2015-07-28T02:14:37Z","updated_at":"2025-09-15T02:17:59Z","pushed_at":"2025-09-04T12:33:16Z","git_url":"git://github.com/caarlos0/env.git","ssh_url":"git@github.com:caarlos0/env.git","clone_url":"https://github.com/caarlos0/env.git","svn_url":"https://github.com/caarlos0/env","homepage":"https://pkg.go.dev/github.com/caarlos0/env/v11","size":433,"stargazers_count":5740,"watchers_count":5740,"language":"Go","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":true,"forks_count":270,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":12,"license":{"key":"mit","name":"MIT License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["config","configuration","environment","environment-variables","go","golang","hacktoberfest"],"visibility":"public","forks":270,"open_issues":12,"watchers":5740,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true}},{"id":192480120,"node_id":"MDEwOlJlcG9zaXRvcnkxOTI0ODAxMjA=","name":"koanf","full_name":"knadh/koanf","private":false,"owner":{"login":"knadh","id":547147,"node_id":"MDQ6VXNlcjU0NzE0Nw==","avatar_url":"https://avatars.githubusercontent.com/u/547147?v=4","gravatar_id":"","url":"https://api.github.com/users/knadh","html_url":"https://github.com/knadh","followers_url":"https://api.github.com/users/knadh/followers","following_url":"https://api.github.com/users/knadh/following{/other_user}","g[...]
[...]
